# Copyright (c) 2021 Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
# 

# OCI authentication
tenancy_ocid     = "ocid1.tenancy....."
fingerprint      = "" # e.g.: "5f:53:..." or leave blank if using CloudShell
user_ocid        = "" # e.g.: "ocid1.user..." or leave blank if using CloudShell
private_key_path = "" # e.g.: "/users/user/.oci/oci_api_key.pem" or leave blank if using CloudShell

# Deployment compartment
compartment_ocid = "ocid1.compartment...."

# region
region = "us-ashburn-1"

# Compute
num_instances                       = 2
instance_shape                      = "VM.Standard.E2.1.Micro"
instance_visibility                 = "Public"
generate_public_ssh_key             = true
public_ssh_key                      = ""
is_pv_encryption_in_transit_enabled = false

# Network Details
lb_shape = "10Mbps-Micro"

# Always Free only or support other shapes
use_only_always_free_elegible_resources = true